@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #1b74e4;
  --secondary-color: #65676b;
  --background-light: #f0f2f5;
  --background-hover: #e4e6eb;
  --active-bg: #e7f3ff;
  --text-color: #65676b;
  --button-hover-opacity: 0.8;
}
.montserrat-root {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f2f4f7;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.error-message {
  color: #ff4d4d;
}

.app-layout {
  display: flex;
  flex-direction: column;

  .app-body {
    display: flex;
    flex-grow: 1;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
  }

  .sidebar {
    background-color: #f0f2f5;
    position: sticky;
    padding: 1rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #f2f4f7;
  }
}
